#robots{
  font-family: 'Roboto Condensed', sans-serif;
  width: 300px;}

.section-header{
  font-size: 30px;
  color: #7AFFF4;
}

h1{
  background-color:#6464E8;
  font-size: 50px;
  color: #D1D0CE;
}

p{
  font-size: 20px;
  color:#6464E8;
}

ul{
  font-size: 20px;
  color:#6464E8;
}
