<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post Form</title>
  </head>
  <body>
    <form method="post" action="/new_post">
      <label>
        Title:
        <input type="text" name="title" value="" placeholder="post title goes here">
      </label><br/>
      <label>
        Content:
        <input type="text" name="content" value="" placeholder= "post content goes here">
      </label><br/>
      <label>
        Author:
        <input type="text" name="author" value="" placeholder= "author name goes here">
        </input><br/>
      </label>
      <button type="sumbit">Sumbit!</button>
    </form>
  </body>
</html>
